# SPDX-FileCopyrightText: 2026 The Pion community <https://pion.ly>
#
# SPDX-License-Identifier: MIT

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/
